@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Blog Page";
}
<!-- new collection section start -->
<body>
    <div class="collection_text">Blog</div>
    <div class="about_main layout_padding">
        <div class="collection_section">
            <div class="container">
                <h1 class="new_text"><strong>Sách về cuộc sống</strong></h1>
                <p class="consectetur_text">Cuộc sống này là muôn hình vạn trạng, để thích ứng và quen với thế giới xung quanh chúng ta cần có một vốn hiểu biết đầy đủ thông qua việc đọc sách</p>
            </div>
        </div>
        <div class="collectipn_section_3 layout_padding">
            <div class="container">
                <div class="racing_shoes">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="shoes-img3"><img src="images/NQT-600x866.png"></div>
                        </div>
                        <div class="col-md-4">
                            <div class="sale_text"><strong>Kỹ năng <br><span style="color: #0a0506;">Kiến thức</span> <br>Cuộc sống</strong></div>
                            <a asp-area="" asp-controller="BlogDetail" asp-action="Index"><button class="seemore">Xem thêm</button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about_main layout_padding">
                <div class="collection_section">
                    <div class="container">
                        <h1 class="new_text"><strong>Sách về chính trị</strong></h1>
                        <p class="consectetur_text">Bạn là người yêu thích chính trị, lịch sử, những sự kiện trọng đại mà bạn chưa biết tới, để khai phá tri thức ấy chắc chắn những cuốn sách về chính trị, triết học, lịch sử là điều mà bạn không thể bỏ qua</p>
                    </div>
                </div>
                <div class="collectipn_section_3 layout_padding">
                    <div class="container">
                        <div class="racing_shoes">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="shoes-img3"><img src="images/z2135555957180_0169c6845ca3edacb4572fb694105f4a.jpg"></div>
                                </div>
                                <div class="col-md-4">
                                    <div class="sale_text"><strong>Lịch sử <br><span style="color: #0a0506;">Văn minh</span> <br>Văn hoá</strong></div>
                                    <div class="number_text"><strong><span style="color: #ed2540">Chính trị</span></strong></div>
                                    <a asp-area="" asp-controller="BlogDetail" asp-action="Index"><button class="seemore">Xem thêm</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
            <!-- new collection section end -->
</body>

