@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Contact Page";
}
<!-- contact section start -->
<div class="collection_text">Liên Hệ</div>
<div class="layout_padding contact_section">
    <div class="container">
        <h1 class="new_text"><strong>Liên hệ với chúng tôi</strong></h1>
    </div>
    <div class="container-fluid ram">
        <div class="row">
            <div class="col-md-6">
                <div class="email_box">
                    <div class="input_main">
                        <div class="container">
                            <form action="/action_page.php">
                                <div class="form-group">
                                    <input type="text" class="email-bt" placeholder="Họ và tên" name="Name">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="email-bt" placeholder="Số điện thoại" name="Name">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="email-bt" placeholder="Địa chỉ Email" name="Email">
                                </div>

                                <div class="form-group">
                                    <textarea class="massage-bt" placeholder="Lời nhắn" rows="5" id="comment" name="Massage"></textarea>
                                </div>
                            </form>
                        </div>
                        <div class="send_btn">
                            <button class="main_bt">Gửi</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="shop_banner">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- contact section end -->
